body {
    background: darkgreen;
    margin: 0;
    padding: 0;
}

#body-wrapper {
    position: relative;
    z-index: 10;

    padding-bottom: 30px;
}

.card {
    position: relative;

    display: block;

    margin-bottom: 40px;
    margin-left: 100px;
    margin-right: 100px;
    padding: 24px;

    border-radius: 2px;
    background: white;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

a {
    font-size: 20px;
}

p {
    font-size: 20px;
}

section{
    padding: 30px;
}

header {
    padding: 0 30px;
}

header > * {
    display: inline-block;
    float: left;
}

#header-logo {
    width: 40px;
    padding: 10px;
}

#header-title {
    font-size: 24px;
    font-weight: 600;
    line-height: 60px;
    color: white;

    margin: 0;
    padding: 0 6px;
}

#header-buttons {
    float: right;

    margin: 15px;
}

.title-text-center {
    text-align: center;
    position: center;
    font-size: 50px;
    color: white;
}



button,
input[type="submit"],
input[type="button"] {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;

    padding: 4px 12px;

    color: #278bc4;
    border: #278bc4 solid 2px;
    border-radius: 2px;
    background: rgba(0, 0, 0, 0);
}

button:hover,
button:active,
input[type="submit"]:hover,
input[type="submit"]:active,
input[type="button"]:hover,
input[type="button"]:active {
    cursor: pointer;

    color: rgb(203, 75, 70);
    border: rgb(203, 75, 70) solid 2px;
}

.action-column button,
.action-column input[type="submit"],
.action-column input[type="button"] {
    padding: 2px;

    color: rgba(0, 0, 0, .87);
    border: 0;
}

header button,
header input[type="submit"],
header input[type="button"] {
    color: #fff;
    border: #fff solid 2px;
    background: rgba(255, 255, 255, .1);
    text-shadow: 0 0 4px rgba(255, 255, 255, .2), 0 0 6px rgba(255, 255, 255, .1);
}

header button:hover,
header button:active,
header input[type="submit"]:hover,
header input[type="submit"]:active,
header input[type="button"]:hover,
header input[type="button"]:active {
    cursor: pointer;

    border: #fff solid 2px;
    background: rgba(150, 150, 150, .25);
    text-shadow: 0 0 4px rgba(255, 255, 255, .5), 0 0 6px rgba(255, 255, 255, .3);
}



.container {
    display: block;
    position: relative;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.61);
    padding: 4%;
    text-align: center;
    margin-top: 300px;
    margin-right: 500px;
    margin-left: 500px;


}

.header-float {
    display: inline-flex;
    height: 50px;
    position: absolute;
    top: 0.05rem;
    right: 0.25rem;
}

.headbutton {
    font-size: 18px;
    font-weight: bold;
    margin-left: 5px;
    margin-bottom: 8px;
}


.btn-danger {
    border-color: #343a40;
    margin-left: 3px;

}

.small {
    font-size:13px;
}

.logreg{
    text-align: center;
    font-size: 35px;
    color: rgba(0, 0, 0, 0.69);

}