<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home Made Bet</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
          integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/main.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='img/football-icon.png') }}">

    <script
            src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>


    <script src="{{ url_for('static', filename='js/index.js') }}" defer></script>

</head>
<body class="index">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
<div class="collapse navbar-collapse" id="navbarSupportedContent">
<ul class="navbar-nav mr-auto">
    <img id="header-logo" src="{{ url_for('static', filename='img/football-icon.png') }}" alt="Logo">
    <li class="nav-item"><a class="nav-link active" href="/">Home page</a></li>
    {% if session['username'] %}
    <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
    <li class="nav-item" id="loggedin"> You are logged in as: {{ session['username'] }}</li>
    {% else %}
    <li class="nav-item"><a class="nav-link" href="/registration">Register</a></li>
    <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
    {% endif %}
</ul>
</div>
</nav>
<div class="container-fluid">
    <div id="body-wrapper">
        <section>
            <h1 class="title-text-center">Welcome page</h1>
            <div class="card">
                <h2>Welcome football lovers!</h2>
                <p>This great site is happy to bring you your favourite Football league's.</p>
                <p></p>
                <p>Okay, actually this page show only the Premier League.</p>
                <p>You can find today's matches, and lot of information about PL.</p>
            </div>
            <div class="card">
                <h3>Today Matches</h3>
                <ul class="pl-navbar">
                    <li class="rang-table"><a href="/premier-league">Premier League</a></li>
                    <li class="score-table"><a href="/bundesliga">Bundesliga</a></li>
                    <li class="remaining-table"><a href="/seria-a">Seria A</a></li>
                    <li class="remaining-table"><a href="/la-liga">La Liga</a></li>
                </ul>
                <table class="table table-bordered">
                    <thead class="thead-light">
                        <tr>
                            <th>Round</th>
                            <th>Home Team</th>
                            <th>Home Team goal(s)</th>
                            <th>Away Team goal(s)</th>
                            <th>Away Team</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody id="todayMatchData">

                    </tbody>

                </table>
            </div>
        </section>
    </div>
</div>
</body>
</html>
