<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home Made Bet</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
          integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/main.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='img/football-icon.png') }}">

    <script
            src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <script src="{{ url_for('static', filename='js/seria/seria.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/matches.js') }}" defer></script>
</head>
<body class="seria_a">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <img id="header-logo" src="{{ url_for('static', filename='img/football-icon.png') }}" alt="Logo">
            <li class="nav-item"><a class="nav-link active" href="/">Home page</a></li>
            {% if session['username'] %}
                <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
                <li class="nav-item" id="loggedin"> You are logged in as: {{ session['username'] }}</li>
            {% else %}
                <li class="nav-item"><a class="nav-link" href="/registration">Register</a></li>
                <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
            {% endif %}
        </ul>
    </div>
</nav>
<div class="container-fluid">
    <div id="body-wrapper">
        <section>
            <h1 class="title-text-center">
            <span><img id="seria-a-logo" src="{{ url_for('static', filename='img/seria-a-logo.png') }}">
            </span>Seria A
            </h1>
            <div class="card">
                <h2>This is Seria A!</h2>
                <p>Serie A, also called Serie A TIM due to sponsorship by TIM,
                    is a professional league competition for football clubs located at the top of the Italian
                    football league system and the winner is awarded the Coppa Campioni d'Italia.</p>
                <p></p>
                <p>Serie A was the world's second-strongest national league in 2014 according to IFFHS and has produced
                    the highest number of European Cup finalists.
                </p>
                <p>If you want to know more about Seria A, check this
                    <a target="_blank" rel="noopener noreferrer" href="https://en.wikipedia.org/wiki/Serie_A">page</a>
                </p>
            </div>
            <div class="card">
                <h3>Seria A Matches:</h3>
                <ul class="pl-navbar">
                    <li>
                        <button class="rang-table" data-toggle="modal" data-target="#leaderBoardModalSm">Leader Board
                        </button>
                    </li>
                    <li>
                        <button class="score-table" data-toggle="modal" data-target="#scoreBoardModalSm">Score Board
                        </button>
                    </li>
                    <li>
                        <button class="remaining-table" data-toggle="modal" data-target="#remainingMatchesModalSm">
                            Remaining Matches
                        </button>
                    </li>
                </ul>
                <table class="table table-bordered">
                    <thead class="thead-light">
                    <tr>
                        <th>Round</th>
                        <th>Home Team</th>
                        <th>Home Team goal(s)</th>
                        <th>Away Team goal(s)</th>
                        <th>Away Team</th>
                        <th>Date</th>
                    </tr>
                    </thead>
                    <tbody id="matchData">

                    </tbody>

                </table>
            </div>
        </section>
    </div>
    <!-- LeaderBoard Modal -->
    <div class="modal fade bd-example-modal-lg" id="leaderBoardModalSm" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel"
         aria-hidden="true">

        <!-- Change class .modal-sm to change the size of the modal -->
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title w-100" id="myModalLabel">Leader Board</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table class="table table-bordered">
                        <thead class="thead-light">
                        <tr>
                            <th>Position</th>
                            <th>Team Name</th>
                            <th>Played Games</th>
                            <th>Won</th>
                            <th>Lost</th>
                            <th>Goals For</th>
                            <th>Goal Against</th>
                            <th>Goal Difference</th>
                            <th>Points</th>
                        </tr>
                        </thead>
                        <tbody class="table table-bordered" id="leaderBoardData">

                        </tbody>

                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Leader Board Modal -->

    <!-- Score Modal -->
    <div class="modal fade bd-example-modal-lg" id="scoreBoardModalSm" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel"
         aria-hidden="true">

        <!-- Change class .modal-sm to change the size of the modal -->
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title w-100" id="myModalLabel">Score Board</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table class="table table-bordered">
                        <thead class="thead-light">
                        <tr>
                            <th>Player Name</th>
                            <th>Team Name</th>
                            <th>Number of Goals</th>
                        </tr>
                        </thead>
                        <tbody class="table table-bordered" id="scoreBoardData">

                        </tbody>

                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Score Modal -->

    <!-- Remaining Matches Modal -->
    <div class="modal fade bd-example-modal-lg" id="remainingMatchesModalSm" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel"
         aria-hidden="true">

        <!-- Change class .modal-sm to change the size of the modal -->
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title w-100" id="myModalLabel">Remaining Matches</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table class="table table-bordered">
                        <thead class="thead-light">
                        <tr>
                            <th>Round</th>
                            <th>Home Team</th>
                            <th>Away Team</th>
                            <th>Status</th>
                            <th>Time</th>
                        </tr>
                        </thead>
                        <tbody class="table table-bordered" id="remainingBoardData">

                        </tbody>

                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Remaining Matches Modal -->
</div>
</body>
</html>